#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  body{
    color: black;}
    
  #blink_text{	
    animation-name:blink;
    width:280px;
    animation-duration:.1s;
    animation-timing-function:ease-in;
    animation-iteration-count:Infinite;
    }

  @keyframes blink{
    0%{opacity: 1;;}
    50%{opacity: 0;}
    100%{opacity: 1;;}
  }
  
p {
  font-size: 40px;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}

.container {
  position: relative;
}

.center {
  position: fixed;
  top: 50%;
  width: 50%;
  text-align: center;
  color: #f1f1f1;
  font-size: 40px;
  font-style: italic;
  font-family: 'Aref Ruqaa';
  white-space: nowrap;
  margin-left: 42%;
  margin-top: 18%;
}